*,
*::before
*::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.main_div{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #16a085;
}
.center-div{
    width: 50vw;
    height: calc(100vh - 50vh);
    background-color: #34495e;
    display: grid;
    place-items: center;
}
.loader{
    width: 15rem;
    height: 15rem;
    background: transparent;
    border: 1.5rem solid #fff;
    border-top: 1.5rem solid #f1c40f;
    border-radius: 50%;
    animation: loaders 2s linear infinite;
}
@keyframes loaders{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg)
    }
}
.menu-bar{
	background: rgb(0,100,0);
	text-align: center;
}
.menu-bar ul{
	display: inline-flex;
	list-style: none;
	color: white;
}
.menu-bar ul li{
	width: 120px;
	margin: 15px;
	padding: 15px;
}
.menu-bar ul li a{
	text-decoration: none;
	color: #fff;
}
.active, .menu-bar ul li:hover{
	background: #2bab0d;
	border-radius: 3px;
}
.menu-bar fa{
	margin: 8px;
}
.sub-menu-1{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
	display: block;
	position: absolute;
	background: rgb(0,100,0);
	margin-top: 15px;
	margin-left: -15px;
}
.menu
{
	background: rgb(170,202,195);
font-size: 20px;
color: black;
}
