body{
    margin: 0;
    padding:0;
    background: #e55039;
}
.box{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
.box .b{
    border-radius: 50%;
    border-left: 4px solid;
    border-right: 4px solid;
    border-top: 4px solid transparent !important;
    border-bottom: 4px solid transparent !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: ro 2s infinite;
}
.box .b1{
    border-color: #4a69bd;
    width:120px;
    height: 120px;

}
.box .b2{
    border-color: #f6b93b;
    width: 100px;
    height: 100px; 
    animation-delay: 0.2s;
}
.box .b3{
    border-color: #2ecc71;
    width: 80px;
    height: 80px; 
    animation-delay: 0.4s;
}
.box .b4{
    border-color: #34495e;
    width: 60px;
    height: 60px; 
    animation-delay: 0.6s;
}
@keyframes ro{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    50%{
        transform: translate(-50%,-50%) rotate(-180deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
}
.menu-bar{
	background: rgb(0,100,0);
	text-align: center;
}
.menu-bar ul{
	display: inline-flex;
	list-style: none;
	color: white;
}
.menu-bar ul li{
	width: 120px;
	margin: 15px;
	padding: 15px;
}
.menu-bar ul li a{
	text-decoration: none;
	color: #fff;
}
.active, .menu-bar ul li:hover{
	background: #2bab0d;
	border-radius: 3px;
}
.menu-bar fa{
	margin: 8px;
}
.sub-menu-1{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
	display: block;
	position: absolute;
	background: rgb(0,100,0);
	margin-top: 15px;
	margin-left: -15px;
}
.menu
{
	background: rgb(170,202,195);
font-size: 20px;
color: black;
}
